<p id="notice"><%= notice %></p>

<ul>
    <% @quotes.each do |quote| %>
        <li data-quote-id="<%= quote.quote_id %>" class="quote">
            <div class="share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= quote_url(quote) %>" data-text="<%= quote.body %>" data-size="large" data-count="none">Tweet</a></div>
            <div class="text">
                <%= link_to quote do %>
                    <blockquote><%= quote.body %></blockquote>
                    <span>— <%= quote.sub %></span>
                <% end %>
            </div>
        </li>
    <% end %>
</ul>

<% if @editable %>
    <p class="operations"><%= link_to 'New Quote', new_quote_path %></p>
<% end %>

<% if false %>
    <td><%= link_to 'Destroy', quote_url(subdomain: 'mou'), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
