<p id="notice"><%= notice %></p>

<ul>
    <% @quotes.each do |quote| %>
        <li data-quote-id="<%= quote.quote_id %>" class="quote">
            <%= link_to quote do %>
                <blockquote><%= quote.body %></blockquote>
                <span>— <%= quote.sub %></span>
            <% end %>
        </li>
    <% end %>
</ul>

<p class="operations"><%= link_to 'New Quote', new_quote_path %></p>

<% if false %>
    <td><%= link_to 'Destroy', quote_url(subdomain: 'mou'), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
