<p id="notice"><%= notice %></p>

<article data-quote-id="<%= @quote.quote_id %>" class="quote">
    <div class="share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= quote_url(@quote) %>" data-text="<%= @quote.body %>" data-via="none" data-size="large" data-count="none">Tweet</a></div>
    <div class="text">
        <blockquote><%= @quote.body %></blockquote>
        <span>— <%= @quote.sub %></span>
    </div>
</article>

<p class="operations">
    <% if @editable %>
        <%= link_to 'Edit', edit_quote_path(@quote) %> |
    <% end %>
    <%= link_to 'Back', quotes_path %>
</p>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
