<p id="notice"><%= notice %></p>

<article data-quote-id="<%= @quote.quote_id %>" class="quote">
    <blockquote><%= @quote.body %></blockquote>
    <span>— <%= @quote.sub %></span>
</article>

<p class="operations">
    <%= link_to 'Edit', edit_quote_path(@quote) %> |
    <%= link_to 'Back', quotes_path %>
</p>
